
@import "../node_modules/bulmaswatch/cyborg/variables";
$body-background-color: #111;
$background: $body-background-color;
$primary: #ff7e72;

@import "./bulma/bulma.sass";
@import "../node_modules/bulmaswatch/cyborg/overrides";
@import "../node_modules/buefy/src/scss/buefy";


body {
    background-color: $background
}

.submitButtonContainer {
    left: 0;
    position: fixed;
    right: 0;
    z-index: 30;
    bottom: 0;
};
