<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <!-- <link rel="stylesheet" href="style.css" /> -->
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    {% endblock %}
</head>
<body class="has-navbar-fixed-bottom">
    <div id="content">{% block content %}{% endblock %}</div>
    {% block javascript %}{% endblock %}
</body>
</html>